$(".articles_list").append("<%= escape_javascript(render("shared/articles")) %>");
$("#article_pagination").html("<%= escape_javascript(will_paginate @articles, :page_links => false, remote: true) %>");
$(".previous_page").remove();
$(".next_page").html('<a class="btn btn-info btn-lg older"> <i class="fa fa-angle-left"></i> &nbsp;SEE OLD NEWS </a>').css("margin-left", "20.5em");
